<section class="relative pt-40 pb-48 bg-backgroundLight heropattern-graphpaper-gray-50">
    <div class="container">
     <h1 class="text-5xl font-black leading-normal tracking-wide text-txtMain">{{ title }}</h1>
    </div>
</section>
<section class="pb-48 bg-backgroundMain heropattern-graphpaper-gray-50">
    <div class="container">
        <div class="relative z-10 p-12 -mt-24 space-y-12 shadow-2xl bg-backgroundMain rounded-2xl">
            {{ search:results as="results" }}
            {{ if results }}
            <ul class="space-y-12">
                {{ results }}
                <li>
                    {{ partial:blog/partials/article }}
                </li>
                {{ /results }}
            </ul>
            {{ /if}}
            {{ /search:results }}
        </div>
    </div>
</section>