/node_modules
/public/hot
/public/storage
/public/vendor/statamic
/public/css/tailwind.css
/public/js/site.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
docker/dbdata/*
docker/search/data/*