
@media (prefers-color-scheme: light) {
    :root {
        --primary: #7c3aed;
        --primaryLight: #a788dc;
        --primaryFrom: #7c3aed;
        --primaryTo: #3b82f6;
        --secondary: #A890C3;
        --backgroundMain: #fff;
        --backgroundLight: #f5f3f3;
        --backgroundLighter: #fdfdfd;
        --backgroundPrimary: #fafafa;
        --backgroundShape: #F9FAFB;
        --txtMain: #141516;
        --txtLight: #425466;
        --txtLighter: #a2acb5;
        --txtInverse: #ffffff;
        --borderDark: #141516;
        --border: #ededed;
        --borderPrimary: #d7e2ff;
        --backendColor: #e7183d;
        --frontendColor: #ff8d00;
        --designColor: #5b89e9;
        --uxColor: #aa97eb;
        --businessColor: #0d1466;

      }  
  }

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #7c3aed;
        --primaryLight: #a788dc;
        --primaryFrom: #7c3aed;
        --primaryTo: #3b82f6;
        --secondary: #A890C3;
        --backgroundMain: #051a2d;
        --backgroundLight: #06243d;
        --backgroundLighter: #07233d;
        --backgroundPrimary: #2C1457;
        --backgroundShape: #242424;
        --txtMain: #fff;
        --txtLight: #f5f5f5;
        --txtLighter: #edecec;
        --txtInverse: #fff;
        --border: #2e2e2e;
        --borderPrimary: #0c112c;
        --borderDark: #080b1d;
        --backendColor: #e7183d;
        --frontendColor: #ff8d00;
        --designColor: #5b89e9;
        --uxColor: #aa97eb;
        --businessColor: #0d1466;
      }  
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
         url("/fonts/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-Medium.woff2") format("woff2"),
         url("/fonts/Inter-Medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Inter-SemiBold.woff2") format("woff2"),
         url("/fonts/Inter-SemiBold.woff") format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Inter-Bold.woff2") format("woff2"),
         url("/fonts/nter-Bold.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Inter-Black.woff2") format("woff2"),
         url("/fonts/Inter-Black.woff") format("woff");
  }

.wide-screen-center {
    max-width: 2000px;
    margin: 0 auto;
}

@layer utilities {
    @variants responsive {
      .h-128 {
        height: 40rem
      }
      .masonry-child{
        grid-column: span 1;
      }
      .masonry-child:nth-child(4) {
        grid-column: span 2;
      }
    }
  }
  
  .overlay-gradient {
    background-image: linear-gradient(transparent,rgba(0,0,0,.007) 10.47%,rgba(0,0,0,.028) 19.56%,rgba(0,0,0,.06) 27.58%,rgba(0,0,0,.104) 34.81%,rgba(0,0,0,.157) 41.57%,rgba(0,0,0,.219) 48.13%,rgba(0,0,0,.288) 54.79%,rgba(0,0,0,.363) 61.85%,rgba(0,0,0,.443) 69.61%,rgba(0,0,0,.527) 78.36%,rgba(0,0,0,.613) 88.39%,rgba(0,0,0,.7));
  }