
<section class="p-6 transition-all duration-200 ease-out sm:p-6 md:p-8 lg:p-10 rounded-2xl bg-backgroundLight">
    <div class="flex flex-col items-start w-full max-w-full lg:items-center lg:flex-row">
        <a href="{{ url }}" class="block w-full h-64 overflow-hidden transition-shadow duration-100 ease-linear transform md:h-80 lg:h-56 hover:filter rounded-xl hover:saturate-150 lg:w-96 bg-primary focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight hover:shadow-lg focus:ring-offset-primaryLight-opacity-80 focus:ring-offset-primaryLight-opacity-80-offset-backgroundPrimary">
            <img src="{{ featured_image }}" alt="{{ featured_image:alt }}" loading="lazy" class="object-cover object-center w-full h-full max-w-full rounded-xl"/>
        </a>
        <div class="flex flex-col items-start flex-1 pt-8 lg:pt-0 xl:pl-14 lg:pl-10 2xl:pl-16">
                {{ categories }}
                {{ content }}
                {{ /categories }}
            <a href="{{ url }}" class="inline-block mt-6 mb-3 text-txtMain rounded-xl hover:text-primary focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight focus:ring-offset-primaryLight-opacity-80 focus:ring-offset-primaryLight-opacity-80-offset-backgroundPrimary">
                <h2 class="text-xl font-bold tracking-wide capitalize line-clamp-1">{{ title }}</h2>
            </a>
            <p class="max-w-md text-sm prose text-txtLight line-clamp-2 sm:text-base">{{ article_summary }}</p>
            <div class="flex flex-row items-center pt-6">
                <img src="{{ author:avatar }}" alt="{{ author:name }}'s Profile Picture" class="w-12 h-12 bg-black rounded-full sm:w-14 sm:h-14">
                <p class="pl-4 text-xs sm:text-sm md:text-sm text-txtLight">By<span class="mx-1.5 sm:mx-2 text-xs font-medium sm:text-sm md:text-sm text-txtMain">{{ author:name }}</span>{{ date }}</p>
            </div>
        </div>
        <div class="flex-shrink-0 pt-8 lg:pt-0">
            <ul class="flex flex-row items-center space-x-6 lg:space-x-0 lg:space-y-8 lg:flex-col lg:item-start">
                <li>
                    <a aria-label="Share {{ title }} article on twitter" href="https://twitter.com/intent/tweet?url=www.weminds.co{{ url }}&text=I just read {{ title }} and it's amazing" class="relative inline-flex flex-row items-center text-sm font-bold tracking-wider rounded-full p-2.5 group text-txtInverse focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                        <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-20 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-20 from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span> 
                        <svg class="relative w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                            <path d="M23 3.01006C23 3.01006 20.9821 4.20217 19.86 4.54006C19.2577 3.84757 18.4573 3.35675 17.567 3.13398C16.6767 2.91122 15.7395 2.96725 14.8821 3.29451C14.0247 3.62177 13.2884 4.20446 12.773 4.96377C12.2575 5.72309 11.9877 6.62239 12 7.54006V8.54006C10.2426 8.58562 8.50127 8.19587 6.93101 7.4055C5.36074 6.61513 4.01032 5.44869 3 4.01006C3 4.01006 -1 13.0101 8 17.0101C5.94053 18.408 3.48716 19.109 1 19.0101C10 24.0101 21 19.0101 21 7.51006C20.9991 7.23151 20.9723 6.95365 20.92 6.68006C21.9406 5.67355 23 3.01006 23 3.01006Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </li>
                <li>
                    <a  aria-label="Share {{ title }} article on facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.weminds.co{{ url }}" class="relative inline-flex flex-row items-center text-sm font-bold tracking-wider rounded-full p-2.5 group text-txtInverse focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                        <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-20 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-20 from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span>
                        <svg class="relative w-6 h-6 stroke-current" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                            <path d="M17 2h-3a5 5 0 0 0-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3V2Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
