<a href="{{ url }}" class="relative flex flex-col items-start overflow-hidden transition-all duration-300 ease-out shadow-md rounded-xl group bg-backgroundMain focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight hover:shadow-xl hover:filter hover:saturate-150">
    <div class="absolute transition-opacity p-2.5 rounded-full flex items-center justify-center duration-500 ease-out opacity-0 text-txtMain bg-backgroundMain top-8 left-8 group-hover:opacity-100">
        <svg class="w-5 h-5 stroke-current" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M2 10s3.5 4 10 4 10-4 10-4M4 11.645 2 14M22 14l-1.996-2.352M8.914 13.68 8 16.5M15.063 13.688 16 16.5"/>
        </svg>
    </div>
    <div class="absolute transition-opacity p-2.5 rounded-full flex items-center justify-center duration-100 ease-out opacity-0 text-txtInverse bg-primary top-8 left-8 group-hover:opacity-100">
        <svg class="w-5 h-5 stroke-current" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21.257 10.962c.474.62.474 1.457 0 2.076C19.764 14.987 16.182 19 12 19c-4.182 0-7.764-4.013-9.257-5.962a1.692 1.692 0 0 1 0-2.076C4.236 9.013 7.818 5 12 5c4.182 0 7.764 4.013 9.257 5.962z"/>
            <circle cx="12" cy="12" r="3"/>
        </svg>
   </div>
    <img src="{{ article_image }}" alt="{{ article_image:alt }}" loading="lazy" class="block object-cover object-center w-full h-full"/>
</a>
<div class="flex items-start justify-start w-full max-w-full pt-8">
    <div class="flex flex-col items-start">
        <div class="flex flex-row items-center">
                {{ categories }}
                {{ content }}
                {{ /categories }}
        </div>
        <a href="{{ url }}" class="block mt-5 mb-3 text-txtMain rounded-xl hover:text-primary hover:text-opacity-70 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
            <h3 class="font-bold capitalize line-clamp-1">
                {{ title }}
            </h3>
        </a>
        <p class="max-w-sm text-sm leading-relaxed text-txtLight line-clamp-2">{{ article_summary }}</p>
        <div class="flex flex-row items-center pt-8">
            <p class="text-sm text-txtLight">By<span class="ml-1.5 font-semibold text-txtLight">{{ author:name }}</span></p>
        </div>
    </div>
</div>