<div class="absolute top-0 z-20 w-full h-20 " id="navbar">
    <div class="container flex flex-row items-center h-full">
        <div class="flex flex-row items-center w-full px-4 md:items-stretch">
            <a href="/" class="flex-row items-center flex-shrink-0 hidden px-4 text-xl font-black tracking-widest uppercase md:inline-flex text-txtMain focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight rounded-xl">
                <picture>
                    <source srcset="/assets/logo/dark/text-logo-dark.svg" media="(prefers-color-scheme: dark)">
                    <img class="w-auto h-8" src="/assets/logo/light/text-logo-light.svg" /> 
                </picture>
            </a>
            <a href="/" class="inline-flex flex-row items-center flex-shrink-0 p-0.5 text-xl font-black tracking-widest uppercase md:hidden text-txtMain focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight rounded-xl">
                <picture>
                    <source srcset="/assets/logo/dark/icon-logo-dark.svg" media="(prefers-color-scheme: dark)">
                    <img class="w-auto h-10" src="/assets/logo/light/icon-logo-light.svg" /> 
                </picture>
            </a>
            <nav class="flex-row items-center flex-shrink-0 hidden pl-4 2xl:pl-12 md:flex">
                <ul class="flex flex-row items-center w-full space-x-4 lg:space-x-6">
                    {{ nav:collection:pages include_home="true" }} 
                    <li class="inline-flex items-center h-full">
                        <a href="{{ url }}" {{ if is_current || is_parent }} class="inline-block px-3 py-1 font-semibold tracking-wider duration-300 ease-out rounded-full text-txtInverse bg-primary focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight transtion-colors hover:bg-primary hover:text-txtInverse" {{ /if }} class="inline-block px-3 py-1 font-semibold tracking-wider duration-300 ease-out rounded-full focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight transtion-colors hover:bg-primary hover:text-txtInverse">
                            {{ title }}
                        </a>
                    </li>
                    {{ /nav:collection:pages }}
                </ul>
            </nav>
            <div class="flex-auto pl-8 md:pl-8 2xl:pl-24">
                <form action="/search" class="relative flex items-stretch w-full max-w-full">
                    <input  type="text" name="q" placeholder="Search For Articles" type="text" class="w-full h-full py-3 pl-5 font-medium bg-opacity-50 rounded-full bg-gray-50 dark:bg-gray-800 dark:bg-opacity-30 placeholder-txtMain focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight text-txtMain">
                    <div class="absolute inset-y-0 flex items-center h-full right-2">
                        <button type="submit" class="relative inline-flex flex-row items-center p-2 text-sm font-bold tracking-wider rounded-full group text-txtInverse">    
                            <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                            <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-50 from-primaryFrom to-primaryTo"></span>
                            <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                            <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span>
                            <svg class="relative w-4 h-4 stroke-current"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 21l-4.486-4.494M19 10.5a8.5 8.5 0 1 1-17 0 8.5 8.5 0 0 1 17 0z"/>
                            </svg>                        
                        </button>
                    </div>
                </form>
            </div>
            <div class="flex-shrink-0 inline-block pl-8 md:hidden">
                <div class="relative">
                    <button title="" id="toggleNavDropdown" class="bg-backgroundLight toggle-nav-dropdown p-2.5 rounded-full inline-flex items-center justify-center text-txtMain focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                        <svg class="w-5 h-5 pointer-events-none stroke-current" aria-labelledby="mobileMenuTitle"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <title id="mobileMenuTitle">Three lines that represent a burger menu</title>
                            <path d="M5 6h14M5 12h14M5 18h14"/>
                        </svg>
                    </button>
                    <nav id="navDropdown" class="absolute right-0 hidden p-6 rounded-tr-lg nav-dropdown bg-backgroundMain rounded-2xl top-14">
                        <ul class="flex flex-col items-stretch w-full space-y-3">
                            {{ nav:collection:pages include_home="true" }} 
                            <li class="flex items-center w-full h-full">
                                <a href="{{ url }}" {{ if is_current || is_parent }} class="flex w-full h-full px-4 py-1.5 font-semibold tracking-wider duration-300 ease-out rounded-full whitespace-nowrap text-txtInverse bg-primary focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight transtion-colors hover:bg-primary hover:text-txtInverse" {{ /if }} class="flex w-full h-full px-4 py-1.5 font-semibold tracking-wider duration-300 ease-out rounded-full whitespace-nowrap focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight transtion-colors hover:bg-primary hover:text-txtInverse">
                                    {{ title }}
                                </a>
                            </li>
                            {{ /nav:collection:pages }}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>