<footer class="py-24 bg-gradient-to-b to-backgroundLight from-backgroundLight">
    <div class="container">
        <div class="grid grid-cols-2 gap-10">
            <div class="col-span-1">
                <label for="subNewsletter" class="block mb-6 text-sm font-semibold tracking-widest uppercase text-txtLight">Get Discounts and be notifed when we post articles</label>
                <div class="flex items-stretch space-x-4">
                    <input placeholder="Name@provider.com" id="subNewsletter" name="subNewsletter" type="email" class="px-6 py-2 bg-transparent border-2 rounded-full border-txtMain form-input focus:outline-none focus:ring focus:ring-primary focus:ring-offset-4 focus:ring-offset-backgroundMain">
                    <button class="relative inline-flex flex-row items-center px-8 py-4 text-sm font-bold tracking-wider capitalize rounded-full group text-txtInverse focus:outline-none focus:ring focus:ring-primary focus:ring-offset-4 focus:ring-offset-backgroundMain">
                        <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-50 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-50 from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                        <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span>
                        <span class="relative">Subscribe Now</span>
                    </button>
                </div>
            </div>
            <div class="col-span-1">
                <h3 class="block mb-6 text-sm font-semibold tracking-widest uppercase text-txtLight">Services We've Made</h3>
                <div class="grid grid-cols-3">
                    <div class="col-span-1">
                        <a href="https://shop.rexdigital.group" rel="noopener" class="inline-flex flex-row items-center transition-all duration-200 ease-out rounded focus:outline-none focus:ring focus:ring-primary focus:ring-offset-4 focus:ring-offset-backgroundMain filter grayscale hover:grayscale-0 focus:grayscale-0">
                            <img class="w-12 h-12 mr-4" src="/assets/rexshoplogo.svg" alt="">
                            <span class="font-bold">Rex Digital Shop</span>
                        </a>
                        <h4 class="text-xs capitalize text-txtMain"></h4>
                    </div>
                    <div class="col-span-1">
                        <img src="" alt="">
                        <h4 class="text-xs capitalize text-txtMain"></h4>
                    </div>
                    <div class="col-span-1">
                        <img src="" alt="">
                        <h4 class="text-xs capitalize text-txtMain"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>