<section>
    <div class="container border-l border-r border-dashed border-borderPrimary">
        {{ search:results index="default" }}
            {{ if no_results }}
                <h2>No results found for {{ get:q }}.</h2>
            {{ else }}
                <a href="{{ url }}">
                    <h2>{{ title }}</h2>
                    <p>{{ description | truncate:180 }}</p>
                </a>
            {{ /if }}
        {{ /search:results }}
    </div>
</section>
<section class="border-b border-dashed border-borderPrimary">
    <div class="container border-l border-r border-dashed border-borderPrimary">
        {{ partial:blog/partials/article }}
    </div>
</section>
