<section>
    <div class="bg-no-repeat bg-auto bg-backgroundLight bg-hero-mesh">
        <div
            class="container px-6 pt-32 pb-48 sm:pb-64 sm:px-8 md:pt-40 md:px-0"
        >
            <div class="flex flex-col items-start md:items-center md:justify-center ">
                    {{ categories }}
                    {{ content }}
                    {{ /categories }}
                <h1
                    class="max-w-4xl pt-10 pb-6 text-4xl font-black leading-normal tracking-wide text-left capitalize md:text-center md:leading-normal md:text-5xl text-txtMain"
                >
                    {{ title }}
                </h1>
                <p class="text-left md:text-center text-txtLight max-w-prose">
                    {{ article_summary }}
                </p>
                <div class="flex flex-row items-center pt-10">
                    <img src="{{ author:avatar }}" alt="{{ author:name }}'s Profile Picture" class="rounded-full w-14 h-14">
                    <p class="pl-4 text-txtLight">By<span class="mx-1.5 sm:mx-2 font-medium text-txtMain">{{ author:name }}</span>{{ date }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-6 -mt-32 sm:-mt-48 sm:px-8 md:px-0">
        <img src="{{ featured_image }}" loading="lazy" alt="{{ featured_image:alt }}" class="object-cover object-center w-full h-64 max-w-full shadow-xl rounded-2xl sm:h-96 lg:h-128"/>
    </div>
</section>
<section class= "pt-16 pb-40 lg:pt-24 backgroundMain">
    <div class="container">
        <div class="flex flex-col items-start px-6 sm:px-8 md:px-12 lg:items-stretch lg:flex-row lg:px-0">
            <div class="flex-shrink-0">
                <div class="pb-16 lg:pb-0 lg:sticky lg:top-0 lg:pt-24">
                    <h3 class="mb-6 text-xs font-medium tracking-widest uppercase lg:mb-12 text-txtLight">Share Article</h3>
                    <ul class="flex flex-row space-x-6 lg:space-x-0 lg:flex-col lg:items-start lg:space-y-8">
                        <li>
                            <button  aria-label="Share {{ title }} article with link" id="copyUrl"" class="relative inline-flex flex-row items-center text-sm font-bold tracking-wider rounded-full p-2.5 group text-txtInverse focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                                <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-20 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-20 from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span>
                                <svg class="relative w-6 h-6 stroke-current"stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                                    <path d="M14 11.998C14 9.506 11.683 7 8.857 7H7.143C4.303 7 2 9.238 2 11.998c0 2.378 1.71 4.368 4 4.873a5.3 5.3 0 0 0 1.143.124" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M10 11.998c0 2.491 2.317 4.997 5.143 4.997h1.714c2.84 0 5.143-2.237 5.143-4.997 0-2.379-1.71-4.37-4-4.874A5.304 5.304 0 0 0 16.857 7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <a aria-label="Share {{ title }} article on twitter" href="https://twitter.com/intent/tweet?url=www.weminds.co{{ url }}&text=I just read {{ title }} and it's amazing" class="relative inline-flex flex-row items-center text-sm font-bold tracking-wider rounded-full p-2.5 group text-txtInverse focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                                <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-20 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-20 from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span> 
                                <svg class="relative w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                                    <path d="M23 3.01006C23 3.01006 20.9821 4.20217 19.86 4.54006C19.2577 3.84757 18.4573 3.35675 17.567 3.13398C16.6767 2.91122 15.7395 2.96725 14.8821 3.29451C14.0247 3.62177 13.2884 4.20446 12.773 4.96377C12.2575 5.72309 11.9877 6.62239 12 7.54006V8.54006C10.2426 8.58562 8.50127 8.19587 6.93101 7.4055C5.36074 6.61513 4.01032 5.44869 3 4.01006C3 4.01006 -1 13.0101 8 17.0101C5.94053 18.408 3.48716 19.109 1 19.0101C10 24.0101 21 19.0101 21 7.51006C20.9991 7.23151 20.9723 6.95365 20.92 6.68006C21.9406 5.67355 23 3.01006 23 3.01006Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a  aria-label="Share {{ title }} article on facebook" href="https://www.facebook.com/sharer/sharer.php?u=www.weminds.co{{ url }}" class="relative inline-flex flex-row items-center text-sm font-bold tracking-wider rounded-full p-2.5 group text-txtInverse focus:outline-none focus:ring focus:ring-offset-4 focus:ring-primary focus:ring-offset-primaryLight">
                                <span aria-hidden="true" class="absolute top-0 left-0 w-full h-full rounded-full opacity-20 filter blur-sm bg-gradient-to-br from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="h-full w-full inset-0 absolute mt-0.5 ml-0.5 bg-gradient-to-br rounded-full filter group-active:opacity-0 opacity-20 from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition-all duration-200 ease-out rounded-full shadow-xl bg-gradient-to-br filter group-active:opacity-0 group-hover:blur-sm group-focus:blur-sm from-primaryFrom to-primaryTo"></span>
                                <span aria-hidden="true" class="absolute inset-0 w-full h-full transition duration-200 ease-out rounded-full bg-gradient-to-br to-primaryFrom from-primaryTo"></span>
                                <svg class="relative w-6 h-6 stroke-current" stroke-width="1.5" viewBox="0 0 24 24" fill="none">
                                    <path d="M17 2h-3a5 5 0 0 0-5 5v3H6v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3V2Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="flex-1">
                <article class="flex flex-row items-center mx-auto mb-8 font-medium prose dark:prose-light text-txtMain">
                    <div class="mr-4 lg:pl-3">
                        <div class="w-2 h-20 rounded-xl bg-gradient-to-b from-primaryFrom to-primaryTo"></div>
                    </div>
                    {{ content_intro }}
                </article>
                <article class="mx-auto prose dark:prose-light text-txtMain">
                    {{ content }}
                </article>
            </div>
            {{ if is_video }}
            <div class="flex-shrink-0">
                <div class="sticky top-0 pt-24">
                    {{ if video | is_embeddable }}
                    <h3 class="mb-12 text-xs font-medium tracking-widest uppercase text-txtLight">Watch Video Instead</h3>
                    <iframe class="h-48 rounded w-72" src="{{ video | embed_url }}" ...></iframe>
                    {{ else }}
                    <h3 class="mb-12 text-xs font-medium tracking-widest uppercase text-txtLight">Watch Video Instead</h3>
                    <video class="h-48 rounded w-72" src="{{ video | embed_url }}" ...></video>
                    {{ /if }}
                </div>
            </div>
            {{ /if}}
        </div>
    </div>
</section>

<script>
copyUrlBtn = document.getElementById("copyUrl");

copyUrlBtn.addEventListener("click", function() { 
    var dummy = document.createElement('input'),
    text = window.location.href;

    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand('copy');
    document.body.removeChild(dummy);
});
</script>